/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root{
  /* colors */
  --primary-color:#E5AF10;
  --primary-clr:#F1C74E;
  --secondary-color:#000000;
  --tertiary-color:#767676;
  --color:#EE1111;


  /* font sizes */
  --small-font:10px;
  --ssmall-font:12px;
  --medium-font:14px;
  --large-font:18px;
  --xlarge-font:45px;

  /* weight */
  --xfont-weight:600;
  --font-weight:400;
  --mfont-weight:500;
  --xxfont-weight:800;

  /* height */
   --mline-height:24px;
   --xline-height:40px
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Manrope;
}

.container{
  width: 85vw;
  margin: auto;
}

/* navbar */
.logo{
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-clr);
}
.clogo{
  color: var(--secondary-color);
}

.cclogo{
  color: var(--tertiary-color);
}
.navbar{
  width: 85vw;
  margin: auto;
  color: var(--secondary-color);
  line-height: var(--line-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size:var(--medium-font) ;
  font-weight: 400;
  padding: 1rem 0;
  
}

.navbar .listItems {
  display: flex;
  align-items: center;
  gap: 2rem;

}


.navbar .listItems .link{
  text-decoration: none;
  color: var(--secondary-color);
}

.btn,.get-btn{
font-family: Manrope;
color: var(--secondary-color);
font-size: var(--small-font);
border: 1px solid var(--primary-color);
border-radius: 5px;
background-color: var(--primary-clr);
cursor: pointer;
padding: .5rem 2rem;
transition: transform 0.5s ease;
}

.btn:hover,.get-btn:hover{
  transform: rotateY(0deg) rotateX(0deg) scale(1.03);
  background-color: var(--primary-color);
  color: white;
  
}




/* splash */
.get-btn{
  width: 50%;
  font-size: var(--medium-font);
  
}
.splash{
  width: 85vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 0;
}

.left-splash{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

}
.splash-text{
 display: flex;
  flex-direction: column;
  gap: 2rem;
}
.splash h1{
  font-size:var(--xlarge-font) ;
  line-height: var(--xline-height);
  font-weight: var(--xxfont-weight);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.splash h1 .strong{
  color: var(--primary-color);
}

.splash p{
  font-size: var(--large-font);
  font-weight: var(--mfont-weight);
  line-height: var(--mline-height);
}



.splash .splash-img {
  /* max-width: 700px;
  max-height: 700px;
  border-radius: 50%; */
 
  max-width: 500px;
  border-radius: 12px; /* soft corners feel natural */
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
 transition: transform 0.5s ease;
}

.splash-img:hover{
   transform: rotateY(0deg) rotateX(0deg) scale(1.03);
   cursor: pointer;
}
.splash .splash-img img{
  object-fit: cover;
 width: 100%; 
 border-radius: 12px;
 transform: rotate(10deg);
}


/* footer */
.footer{
  background-color: #fbf1d3;
  padding: 5rem 0;
 
  



}

.footer-1{
  width: 85vw;
  margin: auto; 
  display: flex;
  justify-content: space-between;

  
}
.footer-img img{
  max-width: 30px;
}



.footer a{
  text-decoration: none;
  color: var(--secondary-color);
}
.footer .image-footer{
display: flex;
align-items: center;
gap: 1rem;
}
.footer-2{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.footer-2 p{
  font-size: var(--medium-font);
  font-weight: var(--xfont-weight);
}

.line{
  width: 85vw;
  margin: auto; 
  margin-top: 10px;
  color: var(--tertiary-color);
  text-align: center;
  font-size:var(--ssmall-font) ;
}

.logo-4{
  font-size: var(--medium-font);
  font-weight: var(--xfont-weight);
  color: var(--tertiary-color);
}
.footer-3{
  display: flex;
  flex-direction: column;
  gap: .5rem;


}



.footer-icons{
  color:var(--color);
}
.footer-3 .footer-li{
  display:  flex;
  flex-direction: column;
  gap: .5rem;
  font-size: var(--ssmall-font);
  
}

/* signup */
.handlepass{
  border:"1px solid";
   display:"flex";
   align-items:"center";
    padding:".5rem 1rem";
}

.form-wrapper{
   position: relative;
  background-image: url("https://www.eatingwell.com/thmb/EDH7BCclCmoQcvXz1Eyes_731vo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/EatingWell-7-Day-Heart-Healthy-Meal-Plan-Day-1-415e303e9ae34d58abe53a5d2fac8ab3.jpg");
  background-size: cover;
  background-position: center;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color); 
}

.form-wrapper::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.form{
   position: relative;
  z-index: 1;
  background-color: white;
  min-width: 500px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-size: var(--ssmall-font);
}

.form-list{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}

.form-list input, select, button{
   padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--tertiary-color);
   outline: none;
}

.form-list .showpass{
   padding: .5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--tertiary-color);
  
}

.form-list .showpass input{
  outline: none;
  border:none;
  flex:1;  
  padding: 0;
  
  
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}


.form-list button{
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: var(--ssmall-font);
  font-family: Manrope; 
}



.loader{
   height: 300px;
   margin: 3rem auto; 
   display: flex;
   align-items: center;
   justify-content: center;
}

.error-message{
  color:var(--color);
  font-size: var(--small-font);
}

.form-link{
  text-decoration: none;
  color: var(--secondary-color);
  margin: 5px;
  /* font-size: var(--ssmall-font); */
}

.form-link-item{
  color: var(--primary-color);
}

.verify{
  color: var(--primary-color);
  font-weight: var(--xfont-weight);
}

/* aside */

.dashboard-wrapper{
display: flex;
gap:1rem;


}

.dashboard-nav{
background-color: var(--primary-color);
}
.dashboard-list{
  width: 80%;
  margin-left: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aside{
  background:var(--primary-color);
  padding: 5rem;
  width: 20%;
  height: 100vh;
  position:fixed;
  display: flex;
  flex-direction: column;
   gap: 1rem;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.aside-link{
  text-decoration: none;
  color: white;
  font-size: var(--medium-font);
}

.logout{
  cursor: pointer;
  font-size: var(--medium-font);
}